body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1f24;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2a2e35;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  max-height: 60px;
}

.header .navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header .nav-item {
  margin-left: 20px;
}

.header .nav-link {
  color: #00bcd4;
  text-decoration: none;
  font-size: 16px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header .nav-link:hover {
  background-color: #00bcd4;
  color: #1c1f24;
  border-radius: 5px;
}

.header .admin-login {
  margin-left: auto; /* S'assurer que ce lien est aligné à droite */
  margin-right: 30px; /* Ajouter une marge à droite */
}

.header .btn-outline-light {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header .btn-outline-light:hover {
  background-color: #0097a7;
}

#main {
  margin-top: 80px; /* pour compenser le header fixe */
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("images/background.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden; /* Pour assurer que les particules ne dépassent pas */
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Derrière le texte */
}

.main-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0;
  color: #00bcd4;
}

.main-content p {
  font-size: 24px;
  margin: 10px 0 0;
  color: #00bcd4;
}

#about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#about .profile-photo {
  flex: 1;
  max-width: 20%;
}

#about .profile-photo img {
  max-width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#about .bio {
  flex: 2;
  padding: 0 2rem;
}

#about .bio h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #00bcd4;
}

#about .bio p {
  font-size: 18px;
  line-height: 1.6;
  background-color: #2a2e35;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#about .bio .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #00bcd4;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#about .bio .btn:hover {
  background-color: #0097a7;
}

#skills .container {
  padding: 2rem;
  text-align: center;
}

#skills h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #00bcd4;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill {
  flex: 1 1 calc(25% - 1rem); /* Réduire la largeur des compétences */
  max-width: 600px; /* Fixer une largeur maximale */
  background-color: #2a2e35;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0.5rem;
}

.skill img {
  max-width: 160px;
  margin-bottom: 1rem;
}

.skill h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #00bcd4;
}

.skill p {
  font-size: 16px;
  line-height: 1.4;
}

#projects .container {
  padding: 2rem;
  text-align: center;
  background-color: #1e2a38;
}

#projects h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #00bcd4;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-item {
  background-color: #2a2e35;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.project-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.project-item h3 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #00bcd4;
}

.project-item p {
  font-size: 14px;
  color: #b0bec5;
}

#contact .container {
  padding: 2rem;
  text-align: center;
}

#contact h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  margin-bottom: 1rem;
  color: #00bcd4;
}

#contact .btn {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  background-color: #00bcd4;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#contact .btn:hover {
  background-color: #0097a7;
}

.contact-info {
  font-size: 16px;
  color: #b0bec5;
}

footer .container {
  padding: 1rem;
  text-align: center;
  background-color: #2a2e35;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #b0bec5;
}
